@raspberry: #300018;
@brown: #5A3D31;
@olives: #837B47;
@green: #ADB85F;
@cream: #E5EDB8;
@diameter: 300px;

html, body {
   background-color: @raspberry;
   height: 100%;
   width: 100%;
   display: flex;
   justify-content:center;
   align-items:center;
}

.main {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    min-width: 600px;
    max-width: 600px;
}

.hello {
    width:100%;
    color: @green;
}
.round {
    border-radius: 50%;
    border: 10px solid @brown;
    overflow: hidden;
    min-width: @diameter;
    min-height: @diameter;
    max-width: @diameter;
    max-height: @diameter;
}

.greeting {
    width:100%;
    font-family: "Open Sans";
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    color: @green;
}

nav {
    background-color: @brown;
    width:100%;
    height:50px;
    margin-top: 10px;
    border-radius: 8px;
    text-align:center;
}

ul {
    list-style-type:none;
    li {
        display:inline;
        color: @green;
        &:hover {
            color: @cream;
        }
    }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
