@raspberry: #300018;
@brown: #5A3D31;
@olives: #837B47;
@green: #ADB85F;
@cream: #E5EDB8;
@diameter: 300px;

html, body {
   background-color: @raspberry;
   height: 100%;
   display: flex;
   justify-content:center;
   align-items:center;
}

.main {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    min-width:600px;
}

.round {
    border-radius: 50%;
    border: 10px solid @brown;
    overflow: hidden;
    min-width: @diameter;
    min-height: @diameter;
    display: block;
}

.banner {
    background-color: @olives;
    width:100%;
    height:50px;
    margin-top: 5px;
    border: 2px solid @cream;
}
