@raspberry: #300018;
@brown: #5A3D31;
@olives: #837B47;
@green: #ADB85F;
@cream: #E5EDB8;
@diameter: 300px;

html, body {
   background-color: @raspberry;
   height: 100%;
}

.main {
    display:flex;
    justify-content:center;
    align-items:center;
}

.round {
    border-radius: 50%;
    border: 10px solid @brown;
    overflow: hidden;
    width: @diameter;
    height: @diameter;
}

.banner {
    background-color: @olives;
    width:100%;
    height:50px;
    border: 1px solid @cream;
}
