html,
body {
  background-color: #300018;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: 600px;
  max-width: 600px;
}
.hello {
  width: 100%;
  color: #ADB85F;
}
.round {
  border-radius: 50%;
  border: 10px solid #5A3D31;
  overflow: hidden;
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
}
.greeting {
  width: 100%;
  font-family: "Open Sans";
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  color: #ADB85F;
}
nav {
  background-color: #5A3D31;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  border-radius: 8px;
  text-align: center;
}
ul {
  list-style-type: none;
}
ul li {
  display: inline;
  color: #ADB85F;
}
ul li:hover {
  color: #E5EDB8;
}
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
