html,
body {
  background-color: #300018;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: 600px;
  max-width: 600px;
}
.hello {
  width: 100%;
  font-size: 100px;
  font-family: "Open Sans";
  text-align: center;
  color: #ADB85F;
}
.round {
  border-radius: 50%;
  border: 10px solid #5A3D31;
  overflow: hidden;
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
}
.greeting {
  width: 100%;
  font-family: "Open Sans";
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  color: #ADB85F;
}
.banner {
  background-color: #837B47;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#300018), to(#5A3D31), color-stop(0.5, #5A3D31), color-stop(0.5, #300018)) 21 30 30 21 repeat repeat;
}
